@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  min-height: 100vh;
  background-color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #47818b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 700px;
  height: 370px;
  display: flex;
  align-items: center;
  gap: 32px;
  box-shadow: #ffffff ;
}

.card img {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.card .text {
  flex: 1;
}

.card .text h2 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card .text p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: 500;

}
.card-slide-down {
  animation: slide-down 5s ease-out forwards;
}
